* {
  margin: 0px;
  padding: 0px;
  border: border-box;
  font-family: Libre Franklin;
}

.navbar {
  height: 80px;
  width: 100vw;
}

.navbar-brand .img-fluid {
  width: 120px;
  height: auto;
}

.navbar-nav {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-item {
  width: 10%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-item p {
  margin-bottom: 0px;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.bordered:hover {
  border: 1px solid rgb(1, 101, 44);
  color: rgb(1, 101, 44);
}

.border,
.bordered {
  border-radius: 8px;
}

.nav-button {
  border-radius: 30px;
  color: white;
  margin-left: auto;
}

.banner {
  height: 40vh;
  width: 100%;
  z-index: -1;
  background-image: url("/Event-web-banner-default-1350x291.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.banner-content {
  width: 90%;
  height: 40%;
  background-color: white;
  border-radius: 30px;
  position: absolute;
  bottom: 10%;
  left: 5%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.banner-content .form-control-inline {
  padding: 0.625rem 15rem 0.625rem 0.938rem;
  border-radius: 10px;
}

.banner-content .btn {
  background-color: green;
  color: white;
  padding: 10px;
  font-size: 1.2rem;
}

.mobile-banner-content {
  display: none;
}

#card-section {
  background-color: #f6f9f9;
}

.start-card-section {
  color: rgb(7, 157, 73);
  font-size: 18px;
  font-weight: 700;
  padding: 20px 40px;
}

.card {
  border-radius: 20px;
}

.card .img-fluid {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.card-title {
  color: rgb(51, 51, 51);
  font-size: 16px;
  font-weight: 700;
}

.end-card-section {
  color: rgb(24, 135, 84);
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  padding: 15px 2px;
}

.card-body p {
  color: rgb(45, 62, 80);
  font-weight: 400;
  font-size: 12px;
}

.buy-section {
  padding: 20px 40px;
}

.buy-section h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  color: rgb(51, 51, 51);
  margin-bottom: 20px;
}

.buy-text h2 {
  text-align: left;
  font-size: 30px;
  color: rgb(51, 51, 51);
  font-weight: 600;
  margin-bottom: 10px;
}

.buy-text p {
  font-size: 14px;
  font-weight: 400;
  color: rgb(51, 51, 51);
}

.buy-section h2 span {
  color: rgb(7, 157, 73);
}

.buy-icon i {
  background-color: #f6f9f9;
  color: rgb(7, 157, 73);
  padding: 10px;
  font-size: 3rem;
  margin: 0px 5px;
}

.way h4 {
  color: rgb(255, 169, 0);
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  padding: 2px 10px;
}

.way h3 {
  color: rgb(7, 157, 73);
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  padding: 2px 10px;
}

.way {
  background-color: #f6f9f9;
  padding: 40px 20px;
}

.way-option i {
  color: rgb(7, 157, 73);
  font-size: 2rem;
  padding: 5px;
  background-color: #ffffff;
  border-radius: 8px;
}

.way-option h2 {
  color: rgb(51, 51, 51);
  font-size: 18px;
  font-weight: 600;
  margin: 10px 2px;
}

.way-option h2 span {
  color: rgb(7, 157, 73);
}

.way-option p {
  color: rgb(51, 51, 51);
  font-weight: 500;
  font-size: 16px;
}

.shohoj-mobile .col-lg-7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: last baseline;
}

.shohoj-mobile .col-lg-7 h2,
.travel-option h2 {
  color: rgb(51, 51, 51);
  font-size: 36px;
  font-weight: 600;
  padding: 10px 20px;
}

.shohoj-mobile .col-lg-7 h2 span,
.travel-option h2 span {
  color: rgb(7, 157, 73);
}

.way-icon i {
  color: rgb(7, 157, 73);
  font-size: 0.75rem;
  border: 1px solid #f6f9f9;
  padding: 5px;
}

.travel-option .col-lg-7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: last baseline;
}

.travel-option .col-lg-6 .travel-option-text {
  font-weight: 400;
  color: rgb(51, 51, 51);
  font-size: 24px;
  padding: 0px 20px;
}

.option-number .number {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: rgb(7, 157, 73);
  font-size: 30px;
  font-weight: 600;
}

.option-number .number-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: end;
}

.main-footer {
  background: linear-gradient(180deg, #318f72, #36ae89);
  color: white;
}

.main-footer .col-lg-7 div p {
  width: 95%;
  font-size: 1.4rem;
  font-weight: 600;
}

.main-footer .col-lg-7 div i {
  font-size: 1.4rem;
  margin-bottom: auto;
  margin-top: 15px;
}

.main-footer .col-lg-7 div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #e9fbf059;
}

.main-footer .col-lg-5 h2 {
  font-size: 36px;
  font-weight: 600;
  padding: 0px 20px 0px 0px;
}

.main-footer .col-lg-5 p {
  font-size: 1.2rem;
  font-weight: 400;
}

footer {
  background: linear-gradient(90.46deg, #2e6755 -4.44%, #319274 101.26%);
  color: white;
  padding: 30px 20px;
}

footer .col-lg-5 p {
  font-weight: 400;
  color: rgb(232, 232, 232);
  font-size: 17px;
}

.foot-list {
  display: flex;
  justify-content: space-between;
}

.foot-list p {
  font-size: 18px;
  font-weight: 700;
}

.foot-list li {
  list-style-type: none;
  font-size: 17px;
  cursor: pointer;
  margin-top: 5px;
}

.foot-list li:hover {
  color: rgb(183, 196, 194);
}

.foot-icon {
  width: 50%;
  float: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  padding: 10px;
}

@media only screen and (max-width: 1136px) {
  .banner-content {
    display: none;
  }

  .mobile-banner-content {
    width: 80%;
    margin-left: 10%;
    display: block;
    background-color: white;
    border-radius: 10px;
    padding: 20px 30px;
    position: absolute;
    bottom: 4%;
  }
}

@media only screen and (max-width: 992px) {
  .navbar-nav {
    height: 100vh;
    width: 40vw;
    background-color: white;
    float: right;
  }

  #navbarSupportedContent {
    z-index: 999;
  }

  .nav-item {
    width: 100px;
    height: 40px;
  }

  .nav-button {
    margin: 0px auto;
  }

  .shohoj-mobile .col-lg-5 .img-fluid,
  .travel-option .col-lg-6 .img-fluid {
    width: 60%;
    margin-left: 20%;
  }

  .store-imges .img-fluid {
    width: 120px;
    height: auto;
  }
}

@media only screen and (max-width: 480px) {
  .option-number .number {
    flex-wrap: wrap;
  }

  .foot-list {
    flex-direction: column;
  }

  .foot-icon {
    width: 100%;
  }
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
